/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

.background {
    height: 100vh;
    background-color: #f6f8f9;
    color: #000000;
}

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
    list-style-type: none;
}

.container {
    width: 80%;
    padding-left: 40px;
    padding-right:  40px;
    margin: 0 auto;
}

/* HEADER */

.header-bar {
    height: 70px;
    line-height: 70px;

    background-color: #ffffff;
}

#logo {
    height: 100%;

    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
}

#logo img {
    height: 50px;
}

.site-title {
    font-size: 2rem;
    font-weight: 900;
}

/* MAIN */

/* Main Header */

.main-header {
    margin-top: 40px;
    margin-bottom: 2px;
    padding-top: 20px;
    padding-bottom: 10px;

    background-color: #ffffff;
    border-radius: 10px 10px 0 0;
}

.main-header button {
    background-color: #47adf1;
    color: #ffffff;
    padding: 10px;
    
    font-size: 0.7rem;
    font-weight: 800;

    border: none;
    border-radius: 5px;
}

.main-header .button-disabled {
    background-color: #ffffff;
    color: #cbd0d4;

    border: 1px solid #cbd0d4;
}

/* ToDo lisyt */
.todo-list {
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #ffffff;
    color: #444851;

    border-radius: 5px;
}

.caption {
    font-size: 1.5rem;
    font-weight: 900;
    
    padding-top: 20px;
}

.caption li {
    padding-top: 8px;
    padding-bottom: 8px;
}

.check {
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 1rem;

    text-align: center;
    vertical-align: middle;

    display: inline-block;

    border: 2px solid #000000;
    border-radius: 50%;
}

.ok {
    color: #7bc9b6;
    border-color:  #7bc9b6;
}

.no {
    color: #eb5a53;
    border-color:  #eb5a53;
}

.task {
    font-size: 1.2rem;
    padding-left: 10px;
    
    display: inline-block;
}

.label {
    background-color: #45abea;
    color: #ffffff;
    padding: 7px;
    
    font-size: 0.6rem;
    font-weight: 700;

    border: none;
    border-radius: 10px;

    display: inline-block;
}

.lab-editorial {
    background-color: #45abea;
}

.lab-q1goals {
    background-color: #9c72e4;
}

.lab-recruiting {
    background-color: #64c0a9;
}

.lab-mobile {
    background-color: #f29e33;
}

.lab-website {
    background-color: #d863a1;
}

.lab-sales {
    background-color: #b0c926;
}